@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.logo-image{
  height: 72px;
  width: 72px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-evenly;

}
.navbar :where(.user-image){
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar :where(.nav-section, .search-form, .nav-logo){
  display: flex;
  align-items: center;
}

.navbar .nav-section{
  gap: 1rem;
}
.navbar .nav-logo{
  display: flex;
  gap: 0.5;
  text-decoration: none;
}
.navbar .nav-logo .logo-text{
  font-size: 1.25rem;
  color: black;
}

.navbar .nav-button{
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navbar .nav-button i {
  font-size: 1.3rem;
  align-items: center;
  justify-items: center;
}



