@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.logo-image{
  height: 72px;
  width: 72px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-evenly;

}
.navbar :where(.user-image){
    width: 32px;
    cursor: pointer;
    border-radius: 50%;
}
